/* ---------------- ROOT VARIABLES ------------ */
:root{
  --lightBlue: #A8DADC; 
  --blue: #457B9D;
  --darkBlue:#1D3557;
  --red:#E63946;
  --cream:#F1FAEE;
  --black:#000000;
  --white:#FFFFFF;

  --fontSerif: 'Patrick Hand', cursive;
  --fontSansSerif: 'Montserrat', sans-serif;
}


/* ---------------- FOOTER ------------ */
.footer {
  align-items: center;
  background-color: var(--lightBlue);
  color:black;
  display: flex;
  font-size: 0.75rem;
  height: 5vh;
  justify-content: center;

  text-align: center;
  width: 100vw;
}

