/* ---------------- ROOT VARIABLES ------------ */
:root{
  --lightBlue: #A8DADC; 
  --blue: #457B9D;
  --darkBlue:#1D3557;
  --red:#E63946;
  --cream:#F1FAEE;
  --black:#000000;
  --white:#FFFFFF;

  --fontSerif: 'Patrick Hand', cursive;
  --fontSansSerif: 'Montserrat', sans-serif;
}

/* ---------------- BODY COMPONENTS ------------ */

body{
  margin: 0;
}


#section-home{
  font-family: var(--fontSansSerif);
  flex-grow: 2;
  width: 71vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 5% 0 5%;
}

/* ---------------- STORE ------------ */

#section-store{
  display: flex;
  background-color: var(--cream);
}

#section-catInventory{
  font-family: var(--fontSansSerif);
  margin-right: 2%;
  letter-spacing: 0.22rem;
  flex-grow: 2;
  width: 71vw;
}

.cat-name{
  color: var(--red);
  font-size: 1.25rem;
  font-weight: 600;
  margin: 3% 0;
}
.cat-price{
  color: var(--blue);
  font-size: 1rem;
  margin: 5% 0;
}

.section-basket{
  margin-left: 3%;
  width: 25vw;
}


/* ---------------- FOOTER ------------ */
.footer {
  align-items: center;
  background-color: var(--lightBlue);
  bottom: 0;
  display: flex;
  height: 5vh;
  justify-content: center;
  position: absolute;
  width: 100vw;
}

.footer p{
  color: var(--black);
  font-family: var(--fontSerif);
  margin: 0;
  text-align: center;
}
