/* ---------------- ROOT VARIABLES ------------ */
:root{
  --lightBlue: #A8DADC; 
  --blue: #457B9D;
  --darkBlue:#1D3557;
  --red:#E63946;
  --cream:#F1FAEE;
  --black:#000000;
  --white:#FFFFFF;

  --fontSerif: 'Patrick Hand', cursive;
  --fontSansSerif: 'Montserrat', sans-serif;
}